<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/css/reveal.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/css/theme/solarized.css">
    </head>
    <body>
        <div class="reveal">

            <div class="slides">

			<section>
				<h2>Securing Your App with Spring Security</h2>
				<p>Paul Woods</p>
				<p>April 6th, 2016</p>
				<p>mr.paul.woods@gmail.com</p>
				<p><a href="https://github.com/paulwoods/employeedb">https://github.com/paulwoods/employeedb</a></p>
			</section>

			<section>
				<h2>What Were About to Do</h2>
				<p>This talk shows how to take an application (Spring Boot + Gradle + Thymeleaf + Spring Data JPA)
				and add spring security to it.</p>
			</section>

			<section>
				<h2>Demo Unsecured Application</h2>
				<p>We have a HR application called EmployeeDB. It allows us to maintain
					our employees, thier profiles (addresses) and thier salaries. It currently
					has no authentication or authorization.</p>
				<p>You can clone the source code and follow along.</p>
				<p><a href="https://github.com/paulwoods/employeedb.git">https://github.com/paulwoods/employeedb.git</a></p>

			</section>

			<section>
				<section>
					<h2>Add Security Starter</h2>

					<p>Our first step is to add the Spring Security dependencies to our project.</p>

				</section>

				<section>
					<h2>Following Along?</h2>

					<ul>
						<li>Check out the tag initial-app.</li>
					</ul>

				</section>

				<section>
					<h2>Add Security Starter</h2>

					<ol>
						<li>Add the spring security starter dependency.
					
					<pre><u>build.gradle</u>
						<code data-trim data-noescape>
...
dependencies {
    ...
    compile('org.springframework.boot:spring-boot-starter-security')
    ...
}
...
					</code></pre>

						<li>Refresh your IDE's gradle dependencies.</li>
						<li>Run the application.</li>
					</ol>

				</section>

				<section>
					<h2>Add Security Starter</h2>

					<div>Adding this starter adds spring security to the classpath of the application, and configures it with default settings. When the application is accessed, the user will be aksed for the user and password. The default user is 'user'. The password is a hash, and it can be found in the logs file. This password is different each time the application is started.</div>

					<pre><u>console output</u><code>

2016-03-14 19:34:09.256  INFO 11952 --- [ost-startStop-1] b.a.s.AuthenticationManagerConfiguration :

Using default security password: 16a01371-b881-4a40-b9f7-288e3e4ee7b2

2016-03-14 19:34:09.469  INFO 11952 --- [ost-startStop-1] o.s.s.web.DefaultSecurityFilterChain     : Creating filter chain: OrRequestMatcher [requestMatchers=[Ant [pattern='/css/**'], Ant [pattern='/js/**'], Ant [pattern='/images/**'], Ant [pattern='/**/favicon.ico'], Ant [pattern='/error']]], []

					</code></pre>

				</section>

				<section>
					<h2>Add Security Starter</h2>

					<ul>
						<li>Our app is now secured</li>
						<li>The users must know the user name and password to access any page of the application</li>
						<li>The password changes every time the application is ran.</li>
					</ul>

				</section>

			</section>

			<section>
				<section>
					<h2>Set the Default Username and Password</h2>
					<p>Having a single user name for all users is a bad practice. And looking through the logs for the password
					is time consuming and annoying. We can solve this by change the user name, and setting the password to a known value.</p>
				</section>

				<section>
					<h2>Following Along?</h2>
					<ul>
						<li>Checkout the tag spring-starter.</li>
					</ul>
				</section>

				<section>
					<h2>Set the Default Username and Password</h2>

					<ol>
						<li>Edit the application.properties file</li>
						<li>Set security.user.name to the username</li>
						<li>Set security.user.password to the password.</p>
					</ol>

					<pre><u>src\main\resources\application.properties</u><code>
...
security.user.name=paul
security.user.password=123456
...
					</code></pre>

				</section>

				<section>
					<h2>Set the Default Username and Password</h2>
					<p>Now, when you run the application, and it asks for the user and password, enter paul and 123456 to login.</p>
					<p>Of course, there is only one account. You probably need to store multiple users.</p>
				</section>


			</section>

			<section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
					<p>We are goinging to defines the domains / tables to store our users,
					and map the roles they are granted.</p>
				</section>

				<section>
					<h2>Following Along?</h2>
					<ul>
						<li>Checkout the tag single-user.</li>
					</ul>
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
					<ol>
						<li>Edit the application.properties file</li>
						<li>Delete the security.user.name line (if it exists)</li>
						<li>Delete the security.user.password line (if it exists).</p>
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
					<ol>
						<li>Create &lt;base package&gt;.security pacakge</li>
						<li>Create Role enum</li>
						<li>Create User class, impelmenting UserDetail</li>
						<li>Create Authority class, implementing GrantedAuthority</li>
					</ol>
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\Role.groovy</u><code>
package org.mrpaulwoods.employee.security

enum Role {
    ROLE_USER,
    ROLE_ADMIN
}
</code></pre>

				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\User.groovy</u><code>package org.mrpaulwoods.employee.security

import org.springframework.security.core.userdetails.UserDetails
import javax.persistence.*

@Entity
class User implements UserDetails {
    @Id @GeneratedValue Long id
    @Column(unique=true) String username
    String password
    boolean enabled = true
    boolean accountNonExpired = true
    boolean accountNonLocked = true
    boolean credentialsNonExpired = true

    @OneToMany(mappedBy = "user", fetch=FetchType.EAGER, cascade = CascadeType.ALL)
    List<Authority> authorities = []
}</code></pre>				
				</section>


				<section>
					<h2>Users, Authorities, and Roles</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\Authority.groovy</u><code>package org.mrpaulwoods.employee.security
import org.springframework.security.core.GrantedAuthority
import javax.persistence.*

@Entity 
class Authority implements GrantedAuthority {

    @Id @GeneratedValue 
    Long id

    @ManyToOne @JoinColumn(name="user_Id", nullable=false) 
    User user

    String authority

}
</code></pre>				
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\EmployeeUserDetailsService.groovy</u><code>package org.mrpaulwoods.employee.security

import groovy.util.logging.Slf4j
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.security.core.userdetails.UserDetails
import org.springframework.security.core.userdetails.UserDetailsService
import org.springframework.security.core.userdetails.UsernameNotFoundException
import org.springframework.stereotype.Service

import javax.annotation.PostConstruct

@Service
class EmployeeUserDetailsService implements UserDetailsService {

    @Autowired UserRepository userRepository

    @Autowired AuthorityRepository authorityRepository

    @Override UserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
        User user = userRepository.findByUsername(username)
        if(user)
        	user
        else
        	throw new UsernameNotFoundException(username)
    }

    @PostConstruct void init() {
        User user = userRepository.save(new User(username:"paulwoods", password:"alpha"))
        user.authorities << authorityRepository.save(new Authority(user:user, authority: "ROLE_USER"))
        user.authorities << authorityRepository.save(new Authority(user:user, authority: "ROLE_ADMIN"))
    }

}
</code></pre>				
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\SecurityConfig.groovy</u><code>package org.mrpaulwoods.employee.security

import org.springframework.beans.factory.annotation.Autowired
import org.springframework.context.annotation.Configuration
import org.springframework.security.config.annotation.authentication.builders.AuthenticationManagerBuilder
import org.springframework.security.config.annotation.web.builders.HttpSecurity
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity
import org.springframework.security.config.annotation.web.configuration.WebSecurityConfigurerAdapter

@Configuration
@EnableWebSecurity
class SecurityConfig extends WebSecurityConfigurerAdapter {

    @Autowired
    EmployeeUserDetailsService employeeUserDetailsService

    @Override
    protected void configure(AuthenticationManagerBuilder auth) {
        auth.userDetailsService(employeeUserDetailsService)
    }

    @Override
    protected void configure(HttpSecurity http) {
        http
                .csrf().disable()
                .authorizeRequests()
                .antMatchers("/webjars/**").permitAll()
                .antMatchers("/css/**").permitAll()
                .antMatchers("/js/**").permitAll()
                .antMatchers("/images/**").permitAll()
                .antMatchers("/login/**").permitAll()

                .anyRequest().authenticated()
                .and()

            // configure the login form

                .formLogin()
                .loginPage("/login")
                .permitAll()
                .and()

            // configure the logout form

                .logout()
                .logoutUrl("/logout")
                .logoutSuccessUrl("http://www.google.com") // TODO: change url to "/" for production
                .permitAll()
                .and()

    }

}

</code></pre>				
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\AuthorityRepository.groovy</u><code>package org.mrpaulwoods.employee.security

import org.springframework.data.jpa.repository.JpaRepository

interface AuthorityRepository extends JpaRepository&lt;Authority, Long&gt; {

}
</code></pre>				
				</section>

				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\UserRepository.groovy</u><code>package org.mrpaulwoods.employee.security

import org.springframework.data.jpa.repository.JpaRepository

interface UserRepository extends JpaRepository&lt;User, Long&gt; {
    User findByUsername(String username)
}
</code></pre>				
				</section>


				<section>
					<h2>Users, Authorities, and Roles</h2>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\EmployeeApplication.groovy</u><code>package org.mrpaulwoods.employee

import org.springframework.boot.SpringApplication
import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.web.servlet.config.annotation.ViewControllerRegistry
import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter

@SpringBootApplication
class EmployeeApplication extends WebMvcConfigurerAdapter {

	static void main(String[] args) {
		SpringApplication.run EmployeeApplication, args
	}

	@Override
	public void addViewControllers(ViewControllerRegistry registry) {
		registry.addViewController("/login").setViewName("login")
		registry.addViewController("/logout").setViewName("logout")
	}

}
</code></pre>				
				</section>



				<section>
					<h2>Users, Authorities, and Roles</h2>

<pre><u>src\main\resources\templates\login.groovy</u><code>&lt;!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd"&gt;

&lt;html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="employee"&gt;

&lt;body&gt;

&lt;div layout:fragment="body"&gt;

    &lt;div th:if="${param.error}"&gt;
        Invalid username and password.
    &lt;/div&gt;
    &lt;div th:if="${param.logout}"&gt;
        You have been logged out.
    &lt;/div&gt;
    &lt;form th:action="@{/login}" method="post"&gt;
        &lt;div class="form-group"&gt;
            &lt;label&gt;User Name:&lt;/label&gt;
            &lt;input class="form-control" type="text" name="username"/&gt;
        &lt;/div&gt;
        &lt;div class="form-group"&gt;
            &lt;label&gt;Password:&lt;/label&gt;
            &lt;input class="form-control" type="password" name="password"/&gt;
        &lt;/div&gt;
        &lt;div&gt;&lt;input type="submit" value="Sign In"/&gt;&lt;/div&gt;
    &lt;/form&gt;

&lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
</code></pre>		

				</section>

			</section>


			<section>
	
				<section>
					<h2>Encrypting Passwords</h2>
					<p>If you were to look at the user database table, then you would see that
					the passwords are stored in plain text, and need to be stored encrypted instead.
					We will add the BCrypt encryption library (already included by spring), as well as update the authentication
					manager to use the new encrypted passwords.</p>
				</section>
	
				<section>
					<h2>Following Along?</h2>
					<ul>
						<li>Checkout the tag user-domain.</li>
					</ul>
				</section>

				<section>
					<h2>Encrypting Passwords</h2>
					<ol>
						<li>In EmployeeUserDetailsService, add
<code><pre>
@Autowired
BCryptPasswordEncoder bCryptPasswordEncoder
</code></pre>
						<li>and, change the init method to
<code><pre>
@PostConstruct
void init() {
    User user = userRepository.save(new User(username: "paulwoods", password: 
    	bCryptPasswordEncoder.encode("alpha")))
    user.authorities << authorityRepository.save(new Authority(user: user, authority: "ROLE_USER"))
    user.authorities << authorityRepository.save(new Authority(user: user, authority: "ROLE_ADMIN"))
}
</code></pre>

					</ol>
				</section>
	
				<section>
					<h2>Encrypting Passwords</h2>
					<ol start="3">
						<li>Update SecurityConfig to use BCrypt as the password encoder.
<code><pre>
    @Override
    protected void configure(AuthenticationManagerBuilder auth) {
        auth
                .userDetailsService(employeeUserDetailsService)
                .passwordEncoder(new BCryptPasswordEncoder())
    }
</code></pre>

					</ol>
				</section>

			</section>

			<section>
				<section>
					<h2>Accessing the Principal</h2>
					The currently logged-in user is called the principal. You can access the principal and get thier name.
				</section>

				<section>
					<h2>Following Along?</h2>
					<ul>
						<li>Checkout the tag encrypted-password.</li>
					</ul>
				</section>

				<section>
					<h2>Accessing the Principal</h2>
					<h3>From a Controller</h3>
					<ol>
						<li>Add a java.security.Principal parameter to the controller method.</li>
						<li>Access the getName() method to get the user name.</li>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\home\HomeController.groovy</u><code>					
    @RequestMapping(method=GET)
    String index(Principal principal) {
        println "principal = $principal?.name"
        "home/index"
    }
</code></pre>
					</ol>
				</section>
				
				<section>
					<h2>Accessing the Principal</h2>
					<h3>From a Service</h3>
					<p>This example accesses the principal from a Service.</p>
					<pre><u>src\main\groovy\org\mrpaulwoods\employee\home\HomeService.groovy</u><code>
...
import org.springframework.security.core.context.SecurityContextHolder

@Slf4j @Service @Transactional class HomeService {
    void example() {
        def principal = SecurityContextHolder.context?.authentication
        log.info "user = $principal?.name"
    }
}
					</code></pre>

				</section>
					
				<section>
					<h2>Accessing the Principal</h2>
					<h3>From a Thymeleaf Template</h3>
					<p>This example accesses the principal from a Thymeleaf template.</p>
					<pre><u>src\main\resources\templates\employee.html</u><code>
&lt;ul class="nav navbar-nav navbar-right"&gt;
    &lt;li&gt;
        &lt;a href="#" th:text="'Welcome, ' + ${#authentication.name}"&gt;Name&lt;/a&gt;
    &lt;/li&gt;
&lt;/ul&gt;
					</code></pre>

				</section>

			</section>

			<section>
				<h2>Manually Loggin-in</h2>
				<p>In some situations, you have a User object (that extends UserDetail), and you want
				that use to become the currently logged in user. Add these lines to set the logged-in user.</p>

				<pre><code>
import org.springframework.security.core.Authentication
import org.springframework.security.authentication.UsernamePasswordAuthenticationToken
import org.springframework.security.core.context.SecurityContextHolder

...

UserDetail user = ...

Authentication authentication = new UsernamePasswordAuthenticationToken(
	user, user.password, user.authorities)
SecurityContextHolder.context.authentication = authentication
				</code></pre>

			</section>

			<section>

				<section>
					<h2>Authorization</h2>
					<p>Authorization determines what the user can an cannot access. We set this up by
					giving each user a 1-or-more roles that they can do, then we configure the 
					URLs and/or controllers to allow access based on the roles.
					</p>
				</section>

				<section>
					<h2>Authorization</h2>
					<p>We've specified the URL based authorization in the SecurityConfig</p>
<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\SecurityConfig.groovy</u><code>
.antMatchers("/webjars/**").permitAll()
.antMatchers("/css/**").permitAll()
.antMatchers("/js/**").permitAll()
.antMatchers("/images/**").permitAll()
.antMatchers("/login/**").permitAll()

.anyRequest().authenticated()
				</code></pre>

				<ul>
					<li>The 5 urls are authorized for anyone to use.</li>
					<li>Any other requests require an authenticated user.</li>
				</ul>

				</section>


				<section>
					<h2>Authorization</h2>
					<p>We can also specify class and method level authorizations</p>
					<ul>
						<li>Use the @Secured annotation</li>
<pre><code>@Secured("ROLE_TELLER")
</code></pre>
						<li>@PreAuthorize with a SPEL expression</li>
<pre><code>@PreAuthorize("hasAuthority('ROLE_TELLER')")
</code></pre>
					</ul>

					<p>Remember, to add @EnableGlobalMethodSecurity(securedEnabled = true) to your SecurityConfig class</p>
				</section>

				<section>
					<h2>Following Along?</h2>

					<ul>
						<li>Check out the tag encrypted-password.</li>
					</ul>

				</section>

				<section>
					<h2>We will only allow users with role ROLE_HR to view the payroll data.</h2>

					<ul>
						<li>Edit SecurityConfig.groovy.</li>
						<li>Add the annotation @EnableGlobalMethodSecurity(securedEnabled = true) to the class.</li>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\payroll\PayrollController.groovy</u><code>...
import org.springframework.security.config.annotation.method.configuration.EnableGlobalMethodSecurity
...
@Configuration
@EnableWebSecurity
@EnableGlobalMethodSecurity(securedEnabled = true)
class SecurityConfig extends WebSecurityConfigurerAdapter {
...
</code></pre>
					</ul>
				</section>

				<section>

					<ul>
						<li>Edit PayrollController.groovy.</li>
						<li>Add @PreAuthorize('hasRole("ROLE_HR")') to the class</li>
					</ul>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\payroll\PayrollController.groovy</u><code>...
import org.springframework.security.access.prepost.PreAuthorize
...
@Controller
@RequestMapping(value = "/payroll")
@Slf4j
@PreAuthorize('hasRole("ROLE_HR")')
class PayrollController {
...
</code></pre>
				<ul>
					<li>Now, users with the role ROLE_HR will see the page. Other users will get a 
					403 forbidden error message.
					</li>
				</ul>

				</section>

			</section>

			<section>
				
				<section>
					<h2>Securing Restfull Endpoints</h2>

					We'll start with a un-secured api endpoint.
We'll use JWT (<a href="https://jwt.io/">https://jwt.io/</a>) to create auth tokens on the server. 
We'll create a login api endpoint, which will take the user/pass and return the token. 
The client will send the token in the header of each subsequent call.

				</section>




				<section>
					<h2>Following Along?</h2>

					<ul>
						<li>Check out the tag authorization.</li>
					</ul>

				</section>

				<section>
					<h2>Allow anyone to access the api</h2>

					<ul>
						<li>Edit the SecurityConfig.groovy file.</li>
						<li>Add .antMatchers("/api/**").permitAll()</li>
					</ul>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\SecurityConfig.groovy</u><code>...
protected void configure(HttpSecurity http) {
    http
            .csrf().disable()
            .authorizeRequests()
            .antMatchers("/webjars/**").permitAll()
            .antMatchers("/css/**").permitAll()
            .antMatchers("/js/**").permitAll()
            .antMatchers("/images/**").permitAll()
            .antMatchers("/login/**").permitAll()
            .antMatchers("/api/**").permitAll()

            .anyRequest().authenticated()
            .and()

...
</code></pre>


				</section>

				<section>
					<h2>Add a Api Controller</h2>

					<ul>
						<li>Create the ApiController.groovy file.</li>
					</ul>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\api\ApiController.groovy</u><code>package org.mrpaulwoods.employee.api

import org.springframework.web.bind.annotation.RequestMapping
import org.springframework.web.bind.annotation.RestController

@RestController
@RequestMapping(value="/api/1")
class ApiController {

    @RequestMapping(value="/home")
    Message home() {
        new Message()
    }
}
</code></pre>

				</section>

				<section>
					<h2>Add a Api Controller</h2>

					<ul>
						<li>Create the Message.groovy file.</li>
					</ul>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\api\Message.groovy</u><code>package org.mrpaulwoods.employee.api

class Message {
    String message = "hello, world"
}
</code></pre>

				</section>

				<section>
					<h2>Test the API</h2>

					<ul>
						<li>Access localhost:8080/employeedb/api/1/home.</li>
						<li>It returns {message: "hello, world"}</li>
					</ul>

				</section>

				<section>
					<h2>Install JJWT</h2>

					<ul>
						<li>Add a the jjwt dependency to your build file.</li>
						<li>compile('io.jsonwebtoken:jjwt:0.6.0')</li>
					</ul>

				</section>


				<section>
					<h2>Wire the TokenAuthenticationService bean</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\SecurityConfig.groovy</u><code>
...
@Autowired
private TokenAuthenticationService tokenAuthenticationService
...
</code></pre>

				</section>

				<section>
					<h2>Update SecurityConfig.groovy</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employeedb\security\SecurityConfig.groovy</u><code>
...

// configure api security

.addFilterBefore(
new StatelessLoginFilter(
    "/api/login",
    tokenAuthenticationService,
    employeeUserDetailsService,
    authenticationManager()),
UsernamePasswordAuthenticationFilter)

.addFilterBefore(new StatelessAuthenticationFilter(tokenAuthenticationService), 
	UsernamePasswordAuthenticationFilter)
...
</code></pre>

				</section>

				<section>
					<h2>Add the token's secret phrase</h2>

<pre><u>src\main\resources\application.properties</u><code>
token.secret=the-secret-phrase-goes-here
</code></pre>
				</section>

				<section>
					<h2>Create StatelessAuthenticationFilter</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\jwt\StatelessAuthenticationFilter.groovy</u><code>
package org.mrpaulwoods.employee.security.jwt

import org.springframework.security.core.context.SecurityContextHolder
import org.springframework.web.filter.GenericFilterBean
import javax.servlet.FilterChain
import javax.servlet.ServletException
import javax.servlet.ServletRequest
import javax.servlet.ServletResponse

class StatelessAuthenticationFilter extends GenericFilterBean {

    private final TokenAuthenticationService tokenAuthenticationService

    public StatelessAuthenticationFilter(TokenAuthenticationService taService) {
        this.tokenAuthenticationService = taService
    }

    @Override
    public void doFilter(ServletRequest req, ServletResponse res, FilterChain chain) throws IOException, ServletException {
        SecurityContextHolder.context.authentication = tokenAuthenticationService.getAuthentication(req)
        chain.doFilter req, res
    }

}
</code></pre>

				</section>

				<section>
					<h2>Create StatelessLoginFilter</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\jwt\StatelessLoginFilter.groovy</u><code>
package org.mrpaulwoods.employee.security.jwt

import com.fasterxml.jackson.databind.ObjectMapper
import groovy.util.logging.Slf4j
import org.mrpaulwoods.employee.security.User
import org.springframework.security.authentication.AuthenticationManager
import org.springframework.security.authentication.UsernamePasswordAuthenticationToken
import org.springframework.security.core.Authentication
import org.springframework.security.core.AuthenticationException
import org.springframework.security.core.context.SecurityContextHolder
import org.springframework.security.core.userdetails.UserDetailsService
import org.springframework.security.web.authentication.AbstractAuthenticationProcessingFilter
import org.springframework.security.web.util.matcher.AntPathRequestMatcher

import javax.servlet.FilterChain
import javax.servlet.ServletException
import javax.servlet.http.HttpServletRequest
import javax.servlet.http.HttpServletResponse

@Slf4j
class StatelessLoginFilter extends AbstractAuthenticationProcessingFilter {

    private final TokenAuthenticationService tokenAuthenticationService
    private final UserDetailsService userDetailsService

    protected StatelessLoginFilter(String urlMapping,
                                   TokenAuthenticationService tokenAuthenticationService,
                                   UserDetailsService userDetailsService,
                                   AuthenticationManager authManager) {
        super(new AntPathRequestMatcher(urlMapping))
        this.userDetailsService = userDetailsService
        this.tokenAuthenticationService = tokenAuthenticationService
        setAuthenticationManager(authManager)
    }

    /** Parses the {username: "xxx", password:"yyy"} json string, and attempts to login **/

    @Override
    public Authentication attemptAuthentication(HttpServletRequest request, HttpServletResponse response)
            throws AuthenticationException, IOException, ServletException {

        final User user = new ObjectMapper().readValue(request.getInputStream(), User.class)

        final UsernamePasswordAuthenticationToken loginToken = new UsernamePasswordAuthenticationToken(
                user.username, user.password)

        return getAuthenticationManager().authenticate(loginToken)
    }

    /** the login was successful. create the token **/

    @Override
    protected void successfulAuthentication(HttpServletRequest request, HttpServletResponse response,
                                            FilterChain chain, Authentication authentication) throws IOException, ServletException {

        // Lookup the complete User object from the database and create an Authentication for it
        final User authenticatedUser = userDetailsService.loadUserByUsername(authentication.getName())
        final UserAuthentication userAuthentication = new UserAuthentication(authenticatedUser)

        // Add the custom token as HTTP header to the response
        tokenAuthenticationService.addAuthentication(response, userAuthentication)

        // Add the authentication to the Security context
        SecurityContextHolder.getContext().setAuthentication(userAuthentication)
    }
}
</code></pre>
				</section>

				<section>
					<h2>Create TokenAuthenticationService</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\jwt\TokenAuthenticationService.groovy</u><code>
package org.mrpaulwoods.employee.security.jwt

import groovy.util.logging.Slf4j
import org.mrpaulwoods.employee.security.EmployeeUserDetailsService
import org.mrpaulwoods.employee.security.User
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.beans.factory.annotation.Value
import org.springframework.security.core.Authentication
import org.springframework.stereotype.Service

import javax.servlet.http.HttpServletRequest
import javax.servlet.http.HttpServletResponse

@Service
@Slf4j
public class TokenAuthenticationService {

    private static final String AUTH_HEADER_NAME = "X-AUTH-TOKEN"

    @Autowired
    UserTokenService userTokenService

    /** adds the current user's token to the header */

    public void addAuthentication(HttpServletResponse response, UserAuthentication authentication) {
        final User user = authentication.getDetails()
        response.addHeader(AUTH_HEADER_NAME, userTokenService.userToToken(user))
    }

    /** retrieves the current user from the token and stores in authentication object */

    public Authentication getAuthentication(HttpServletRequest request) {
        final String token = request.getHeader(AUTH_HEADER_NAME)

        if (!token) {
            return null
        }

        final User user = userTokenService.tokenToUser(token)
        if (!user) {
            return null
        }

        return new UserAuthentication(user)
    }

}
</code></pre>
				</section>


				<section>
					<h2>Create UserAuthentication</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\jwt\UserAuthentication.groovy</u><code>
package org.mrpaulwoods.employee.security.jwt

import org.mrpaulwoods.employee.security.User
import org.springframework.security.core.Authentication
import org.springframework.security.core.GrantedAuthority

public class UserAuthentication implements Authentication {

    private final User user
    private boolean authenticated = true

    public UserAuthentication(User user) {
        this.user = user
    }

    @Override
    public String getName() {
        return user.getUsername()
    }

    @Override
    public Collection<? extends GrantedAuthority> getAuthorities() {
        return user.getAuthorities()
    }

    @Override
    public Object getCredentials() {
        return user.getPassword()
    }

    @Override
    public User getDetails() {
        return user
    }

    @Override
    public Object getPrincipal() {
        return user.getUsername()
    }

    @Override
    public boolean isAuthenticated() {
        return authenticated
    }

    @Override
    public void setAuthenticated(boolean authenticated) {
        this.authenticated = authenticated
    }

}


</code></pre>

				</section>

				<section>
					<h2>Create UserTokenService</h2>

<pre><u>src\main\groovy\org\mrpaulwoods\employee\security\jwt\UserTokenService.groovy</u><code>
package org.mrpaulwoods.employee.security.jwt

import io.jsonwebtoken.Jwts
import io.jsonwebtoken.SignatureAlgorithm
import org.mrpaulwoods.employee.security.EmployeeUserDetailsService
import org.mrpaulwoods.employee.security.User
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.beans.factory.annotation.Value
import org.springframework.stereotype.Service

/**
 * This class converts between Users and JWT Tokens.
 */
@Service
public class UserTokenService {

    @Autowired
    EmployeeUserDetailsService employeeUserDetailsService

    @Value(value = '${token.secret}')
    String secret

    User tokenToUser(String token) {
        assert secret

        String username = Jwts.parser()
                .setSigningKey(secret)
                .parseClaimsJws(token)
                .getBody()
                .getSubject()

        employeeUserDetailsService.loadUserByUsername username
    }

    String userToToken(User user) {
        assert secret

        Jwts.builder()
                .setSubject(user.username)
                .signWith(SignatureAlgorithm.HS512, secret)
                .compact()
    }

}
</code></pre>

				</section>


				<section>
					<h2>Login to get the API Token</h2>

					<ul>
						<li><div>POST: http://localhost:8080/employeedb/api/login</div>
							<div>body: {"username":"paulwoods","password":"beta"}</div>
						</li>
						<li><div>Returns a 200 on a good login. Pull the token from the header</div>
							<div>X-AUTH-TOKEN : eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwYXVsd29vZHMifQ.ep6P2L0WUVd1KShY_N1f2Rw-suG7A71IhuvpQ0weeYbic9ZVGzgISrJ3oGlyJdsKvQYJs_lgIL-zYTiw0nfbkQ</div>
						</li>
					<div>

				</section>

				<section>
					<h2>Access the API, using the token</h2>

					<ul>
						<li><div>GET: http://localhost:8080/employeedb/api/1/home</div>
							<div>add header: X-AUTH-TOKEN : eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwYXVsd29vZHMifQ.ep6P2L0WUVd1KShY_N1f2Rw-suG7A71IhuvpQ0weeYbic9ZVGzgISrJ3oGlyJdsKvQYJs_lgIL-zYTiw0nfbkQ</div>
						</li>
						<li><div>Returns a 200</div>
							<div>body: {"message":"hello, world"}</div>
						</li>
					<div>
					
				</section>

			</section>







			<section>
				<h2>Oauth2 Login</h2>
				<p>See the Spring Guide: <div><a href="https://spring.io/guides/tutorials/spring-boot-oauth2/">https://spring.io/guides/tutorials/spring-boot-oauth2/</a></div></p>
			</section>

            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/lib/js/head.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/js/reveal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/plugin/highlight/highlight.js"></script>
        <script>
            Reveal.initialize({
            	history: true,
            	dependencies: [
            		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
            	]
            });
        </script>
    </body>
</html>
