<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="employee">

<body>
<div layout:fragment="body">

    <h1>
        <span class="glyphicon glyphicon-user"></span>
        People
    </h1>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    Showing: <span th:text="${person.fullName}"></span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            ID
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${person.id}">000</span>
                        </div>

                        <div class="col-sm-3">
                            First Name
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${person.firstName}">first name</span>
                        </div>

                        <div class="col-sm-3">
                            Last Name
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${person.lastName}">last name</span>
                        </div>

                        <div class="col-sm-12">
                            <br/>
                            <a th:if="${person.profile == null}" href="#" th:href="@{/profile/create/{id}(id=${person.id})}" th:text="'Create ' + ${person.firstName} + '\'s Profile'">profile</a>
                            <a th:if="${person.profile != null}" href="#" th:href="@{/profile/show/{id}(id=${person.profile.id})}" th:text="'Show ' + ${person.firstName} + '\'s Profile'">profile</a>
                        </div>

                        <div class="col-sm-12">
                            <a th:if="${person.payroll == null}" href="#" th:href="@{/payroll/create/{id}(id=${person.id})}" th:text="'Create ' + ${person.firstName} + '\'s Payroll'">payrol</a>
                            <a th:if="${person.payroll != null}" href="#" th:href="@{/payroll/show/{id}(id=${person.payroll?.id})}" th:text="'Show ' + ${person.firstName} + '\'s Payroll'">payrol</a>
                        </div>

                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-primary" href="#" th:href="@{/person/edit/{id}(id=${person.id})}">Edit</a>
                        </div>

                        <div class="col-sm-6 text-right">
                            <a class="btn btn-danger" href="#" th:href="@{/person/confirm/{id}(id=${person.id})}">Delete</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</body>

</html>
