<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="employee">

<body>
<div layout:fragment="body">

    <h1>
        <span class="glyphicon glyphicon-user"></span>
        Payroll
    </h1>

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <span th:text="${payroll.person.fullName}"></span>
                </div>

                <div class="panel-body">

                    Are you sure you want to delete?

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-primary" href="#" th:href="@{/payroll/show/{id}(id=${payroll.id})}">No</a>
                        </div>

                        <div class="col-sm-6 text-right">
                            <form action="#"
                                  method="post"
                                  th:action="@{/payroll/delete/{id}(id=${payroll.id})}">
                                <button class="btn btn-danger" type="submit">Delete the Payroll</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</body>

</html>
