<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="employee">

<body>
<div layout:fragment="body">

    <h1>
        <span class="glyphicon glyphicon-user"></span>
        Payroll
    </h1>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    Showing Payroll for: <span th:text="${payroll.person.fullName}"></span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            Payroll ID
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${payroll.id}">000</span>
                        </div>

                        <div class="col-sm-3">
                            Salary
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${#numbers.formatDecimal(payroll.salary, 0, 'COMMA', 2, 'POINT')}">salary</span>
                        </div>

                        <div class="col-sm-12">
                            <br/>
                            <a href="#" th:href="@{/person/show/{id}(id=${payroll.person.id})}" th:text="'Show ' + ${payroll.person.firstName}">person</a>
                        </div>

                        <div class="col-sm-12">
                            <a th:if="${payroll.person.profile == null}" href="#" th:href="@{/profile/create/{id}(id=${payroll.person.id})}" th:text="'Create ' + ${payroll.person.firstName} + '\'s Profile'">profile</a>
                            <a th:if="${payroll.person.profile != null}" href="#" th:href="@{/profile/show/{id}(id=${payroll.person.payroll?.id})}" th:text="'Show ' + ${payroll.person.firstName} + '\'s Profile'">profile</a>
                        </div>

                    </div>

                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-primary" href="#" th:href="@{/payroll/edit/{id}(id=${payroll.id})}">Edit</a>
                        </div>

                        <div class="col-sm-6 text-right">
                            <a class="btn btn-danger" href="#" th:href="@{/payroll/confirm/{id}(id=${payroll.id})}">Delete</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</body>

</html>
