<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Employee Database</title>
    <link rel="icon" type="image/x-icon" href="#" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/styles.css}"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">
                <span class="glyphicon glyphicon-piggy-bank"></span>
                Employee Database
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav nav-pills nav-navbar">
                <li th:class="${#httpServletRequest.requestURI.equals('/employeedb/')} ? 'active' : ''">
                    <a href="#" th:href="@{/}">
                        <span class="glyphicon glyphicon-home"></span>
                        Home</a>
                </li>
                <li th:class="${#httpServletRequest.requestURI.contains('employeedb/personnel')} ? 'active' : ''">
                    <a href="#" th:href="@{/personnel}">
                        <span class="glyphicon glyphicon-user"></span>
                        Personnel
                    </a>
                </li>
                <li th:class="${#httpServletRequest.requestURI.contains('employeedb/profile')} ? 'active' : ''">
                    <a href="#" th:href="@{/profile}">
                        <span class="glyphicon glyphicon-cog"></span>
                        Profiles
                    </a>
                </li>
                <li th:class="${#httpServletRequest.requestURI.contains('employeedb/salary')} ? 'active' : ''">
                    <a href="#" th:href="@{/salary}">
                        <span class="glyphicon glyphicon-usd"></span>
                        Salary
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div layout:fragment="body"></div>
</div>

<script src="#" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"/>
<script src="#" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"/>
<div layout:fragment="scripts"></div>

</body>

</html>
