<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="employee">

<body>

<div layout:fragment="body">

    <div class="jumbotron">
        <h1>Employee Database</h1>
        <p>Welcome to the Employee Database application. Here, you can
            review and modify employee names, profiles and salaries. Enjoy...
        </p>
    </div>

</div>
</body>

</html>